[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=idea
Exec={{ idea_folder }}/bin/idea.sh
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
